
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="tryit.css">
</head>
<body>
  
<div class="slider">
    <div class="rotator">
        <div class="items">
            <img src="rotate/rot1.jpg" alt="items photo" />
        </div>
        <div class="items">
            <img src="rotate/rot2.jpg" />
        </div>
        <div class="items">
            <img src="rotate/rot3.jpg" alt="items photo" />
        </div>
        <div class="items">
            <img src="rotate/rot4.jpg" alt="items photo" />
        </div>
        <div class="items">
            <img src="rotate/rot5.jpg" />
        </div>
        <div class="items">
            <img src="rotate/rot6.jpg" alt="items photo" />
        </div>
        <div class="items">
            <img src="rotate/rot7.jpg" alt="items photo" />
        </div>
        <div class="items">
            <img src="rotate/rot8.jpg"
                alt="items photo" />
        </div>
        <div class="items">
            <img src="rotate/rot9.jpg" alt="items photo" />
        </div>
    </div>
</div>

</body>
</html>