<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tesla</title>
  <link rel="stylesheet" href="tesla.css">
  <script src="tesla.js" defer></script>
</head>
<body>
   <section id="sec">
   <div class="con1">
      <div class="overlay"></div>
      <div class="logo same">
          <img src="tesla.img/logo.png" alt="">
          <span><button id="button">Menu</button></span>
      </div>
      <div class="heading same">
         <h3>Model 3</h3>
         <span>Order Online for Touchless Delivery</span>
      </div>
      <div class="button same">
         <button>Custom Order</button>
         <button>Existing Inventory</button>
      </div>
   </div>

   <div class="con2">
      <div class="overlay"></div>
      <div class="heading same">
         <h3>Model Y</h3>
         <span>Order Online for Touchless Delivery</span>
      </div>
      <div class="button same">
         <button>Custom Order</button>
         <button>Existing Inventory</button>
      </div>
   </div>

   <div class="con3">
      <div class="overlay"></div>
      <div class="heading same">
         <h3>Model S</h3>
         <span>Order Online for Touchless Delivery</span>
      </div>
      <div class="button same">
         <button>Custom Order</button>
         <button>Existing Inventory</button>
      </div>
   </div>

   <div class="con4">
      <div class="overlay"></div>
      <div class="heading same">
         <h3>Model X</h3>
         <span>Order Online for Touchless Delivery</span>
      </div>
      <div class="button same">
         <button>Custom Order</button>
         <button>Existing Inventory</button>
      </div>
   </div>

   <div class="con5">
      <div class="overlay"></div>
      <div class="heading same">
         <h3>Solar Panels</h3>
         <span>Lowest Cost Solar Panels in America</span>
      </div>
      <div class="button same">
         <button>Order Now</button>
         <button>Learn More</button>
      </div>
   </div>

   <div class="con6">
      <div class="overlay"></div>
      <div class="heading same">
         <h3>Solar Roof</h3>
         <span>Produce Clean Energy From Your Roof</span>
      </div>
      <div class="button same">
         <button>Order Now</button>
         <button>Learn More</button>
      </div>
   </div>

   <div class="con7">
      <div class="overlay"></div>
      <div class="heading same">
         <h3>Accessories</h3>
      </div>
      <div class="button same">
         <button>Shop Now</button>
      </div>
   </div>
   <div>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</section>

<div class="menu" id="fish">
         <div class="hide"><button class="x"><ion-icon name="close-outline"></ion-icon></button></div>
         <ul>
            <li><a href="">Model S</a></li>
            <li><a href="">Model 3</a></li>
            <li><a href="">Model X</a></li>
            <li><a href="">Model Y</a></li>
            <li><a href="">Solar Roof</a></li>
            <li><a href="">Solar Panels</a></li>
            <li><a href="">Existing Inventory</a></li>
            <li><a href="">Used Inventory</a></li>
            <li><a href="">Trade-In</a></li>
            <li><a href="">Test Drive</a></li>
            <li><a href="">Insurance</a></li>
            <li><a href="">Powerwall</a></li>
            <li><a href="">Commercial Energy</a></li>
            <li><a href="">Utilities</a></li>
            <li><a href="">Charging</a></li>
            <li><a href="">Find Us</a></li>
            <li><a href="">Support</a></li>
            <li><a href="">Investor Relations</a></li>
            <li><a href="">Shop</a></li>
            <li><a href="">Account</a></li>
            <li><a href="">More</a></li>
            <li><a href="">United States</a></li>
            
         </ul>
      </div>
</body>
</html>