<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    body{
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      height: 100%;
    }
    .contain{
      height: 60%;
      width: 80%;
      background-color: darkseagreen;
      margin-top: 60px;
    }
    .div1,.div2,.div3,.div4{
      width: 70px;
      height: 70px;
    }

    .div1{
      position: fixed;
    }
  </style>
</head>
<body>
  <div class="contain">
      <div class="div1" style="background-color: aqua;"></div>
      <div class="div2" style="background-color: blueviolet;"></div>
      <div class="div3" style="background-color: chartreuse;"></div>
      <div class="div4" style="background-color: darkgoldenrod;"></div>
  </div>
</body>
</html>